html, body {
    background: black;
    margin: 0;
}

.image-0-container {
    margin: 75px;
    border-radius: 40px;
    overflow: hidden;
}

.image-0 {
    align-items: center;
    background-attachment: fixed;
    background-image: url(./images/image-0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 150px);
    width: calc(100vw - 150px);
    background-size: 1000vh;
    opacity: 0;
    animation: image-0-zoomout 2s 0s ease-out forwards;
}

.text {
    font-size: 64px;
    font-family: 'Righteous', cursive;
    margin: 0;
    font-weight: bold;
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: rgba(255, 255, 255);
    margin-right: 80px;
    margin-left: 80px;
}

.image-0 .text {
    font-size: 10vw;
    animation: image-0-text-fade-in 1s 1s ease-in-out forwards;
    color: rgb(77, 9, 22);
    opacity: 0;
    transform: scale(0.9);
}

.fun {
    animation: image-0-text 1.8s 2s infinite;
}

.arcade {
    animation: image-0-text 1.8s 2.6s infinite;
}

.zone {
    animation: image-0-text 1.8s 3.2s infinite;
}

@keyframes image-0-zoomout {
    100% {
        opacity: 1;
        background-size: 200vh;
    }
}

@keyframes image-0-text-fade-in {
    60% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes image-0-text {
    0% {
        transform: scale(1.2);
        opacity: 1;
        color: rgb(190, 166, 3);
    }

    33% {
        transform: scale(1.2);
        color: rgb(190, 166, 3);
        opacity: 1;
    }

    34% {
        transform: scale(1);
        color: rgb(77, 9, 22);
        opacity: 0.5;
    }
    
    100% {
        transform: scale(1);
        color: rgb(77, 9, 22);
        opacity: 0.5;
    }
}

.image-1-container, .image-2-container {
    border-top: 3px solid dimgray;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}

.image-1, .image-2 {
    border: 3px solid black;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-position: 50% 95%;
    background-size: calc(480px / 16 * 9) 480px;
    height: 480px;
    width: calc(480px / 16 * 9);
}

.image-1 {
    background-image: url(./images/image-1.jpg);
}

.image-2 {
    background-image: url(./images/image-2.jpg);
}


.image-1:hover, .image-2:hover {
    border: 3px solid rgb(190, 166, 3);
    animation: image-hover 1s 0s forwards;
}

.image-1:not(:hover), .image-2:not(:hover) {
    animation: image-end-hover 1s 0s forwards;
}

@keyframes image-hover {
    100% {
        background-size: calc((480px / 16 * 9) * 1.175) calc(480px * 1.175);
    }
}

@keyframes image-end-hover {
    0% {
        background-size: calc((480px / 16 * 9) * 1.175) calc(480px * 1.175);
    }

    100% {
        background-size: calc(480px / 16 * 9) 480px;
    }
}